@import "tailwindcss";

@theme inline {
  /* fonts */
  --font-sans: var(--font-nunito-sans);

  /* text */
  --text-xxs: 0.625rem;

  /* colors */
  --color-lime-*: initial;
  --color-main-50: var(--color-main-50);
  --color-main-100: var(--color-main-100);
  --color-main-200: var(--color-main-200);
  --color-main-300: var(--color-main-300);
  --color-main-400: var(--color-main-400);
  --color-main-500: var(--color-main-500);
  --color-main-600: var(--color-main-600);
  --color-main-700: var(--color-main-700);
  --color-main-800: var(--color-main-800);
  --color-main-900: var(--color-main-900);
  --color-main-950: var(--color-main-950);
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);
  --color-success-500: #25f743;
  --color-success-700: #05991a;

  /* tracking */
  --tracking-tighter: -0.5px;
  --tracking-tight: -0.25px;
  --tracking-light: -0.15px;

  /* leading */
  --leading-tighter: 1.15;
}

@layer utilities {
  .text-xxs {
    font-size: var(--text-xxs);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .card {
    @apply flex w-full flex-col items-start gap-4 rounded-3xl bg-white p-4;
  }

  .card h3 {
    @apply text-lg leading-tight font-bold tracking-tight text-gray-800;
  }

  .see-more {
    @apply text-main-600 text-sm leading-tight tracking-tight;
  }

  .footer-group-title {
    @apply text-center text-lg leading-tight font-bold;
  }

  .footer-links-group {
    @apply w-full space-y-3;
  }

  .footer-links-group li {
    @apply text-main-200 text-sm leading-tight tracking-wide;
  }
}

body {
  background: var(--white);
  color: var(--color-gray-700);
  font-family: var(--font-sans), Helvetica, sans-serif;
}
